# General System & IDE Files
.DS_Store
.vscode/
.idea/

# Python / FastAPI Backend
# Ignore cache files
server/__pycache__/
*.pyc

# Ignore secret environment variables
.env
server/.env

# Ignore Python virtual environments
server/venv/
server/env/

# Node.js / React Frontend
# Ignore the massive dependencies folder
client/node_modules/

# Ignore the production build folder
client/build/

# Ignore local environment variables for the frontend
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# Temporary Files & Logs
# Ignore log files
*.log

# Ignore Jupyter Notebook files and checkpoints
*.ipynb
.ipynb_checkpoints/

# Ignore temporary media files that are generated during testing
output.mp4
test.mp3
temp_audio.mp3
asscream.mp4
17169505-hd_1080_1920_25fps.mp4
s

# IMPORTANT: Re-include the video template files
# This line makes sure your template videos are NOT ignored
!server/video_templates/
!server/video_templates/*